   @use "../../styles/variables/color" as color;
   @use "../../styles/variables/font" as font;
   @use "../../styles/variables/textCards";


   .questionSection {
       .questionIntro {
           @extend %PrimaryTextCard;

           h2 {
               font-size: 2.5rem;
           }
       }



       .questionCard {
           @extend %secondaryCard;
           gap: 8px;

           img {
               border: 2px solid color.$tertiary-color;
               border-radius: 24px;
               margin-right: -20px;
           }

           h5 {
               font-family: font.$tertiary-font;
               font-size: 1.6rem;
               font-weight: bold;
           }

           .questionBtn {
               @extend %primaryButton;
               font-size: 1rem;
               font-weight: bold;
           }

       }


   }